.password-strength-meter {
  display: flex;
  margin: 0 8px 2rem;
  width: 100%;
}

.progress {
  margin: 0 2px;
  height: 10px;
  width: 20%;
  border-radius: 5px;
}

.progress-default {
  border: solid 1px #808080;
  background-color: #808080;
}

.progress-weak {
  background-color: #FF0000;
  border: solid 1px #FF0000;
}

.progress-fair {
  background-color: #ecc65a;
  border: solid 1px #ecc65a;
}

.progress-good {
  background-color: #0000FF;
  border: solid 1px #0000FF;
}

.progress-strong {
  background-color: #196f18;
  border: solid 1px #196f18;
}

